<div class="main-content">
  <div class="box">
    <div class="box-content clearfix">
      <h1>Change your password</h1>
      <div id="password_change">
        <%= form_for(current_user, :url => account_update_password_path(@user.id), :html => { :method => :post, :class => 'hform largeform sticky' }) do |f| %>
          <%= error_messages_for current_user %>

          <p>
            <%= f.label :password, "New password" %>
            <span class="hint quiet">Required</span>
            <%= f.password_field :password %>
          </p>

          <p>
            <%= f.label :password_confirmation %>
            <span class="hint quiet">Required</span>
            <%= f.password_field :password_confirmation %>
          </p>

          <p class="button save">
            <%= f.submit "Change password" %>
          </p>
        </div>

        <%- end -%>
      </div>
    </div>
  </div>
  
</div>

