<div class="span5" style="margin:0 auto;float:none">
  <h2>Sign up</h2>

<%= simple_form_for(resource, :url => main_app.user_registration_path, :html => { :method => :post, :class => "form-horizontal" } ) do |f| %>
<fieldset>
  <legend>User Registration</legend>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-large', :value => "Sign up" %>
    <%= #submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger"
    %>
  </div>
<fieldset>
<% end %>
<%= render :partial => "devise/shared/links" %> 
</div>
