%section
  %header.page_header
    .altviews
      %span.calendar.icon 
        %a.show.calendar{:href => '/calendar'} Calendar
    %h1.page-title
      = @start_date.strftime('%a, %d %b %Y')
      %span
        - yesterday = (@start_date - 1.day).to_date
        %span.meta= link_to "<< Previous day", "/calendar/day/#{yesterday.year}/#{yesterday.month}/#{yesterday.day}"
      %span
        - tomorrow = (@start_date + 1.day).to_date
        %span.meta= link_to "Next day >>", "/calendar/day/#{tomorrow.year}/#{tomorrow.month}/#{tomorrow.day}"
            
  - if @items.first.methods.include? :aggregations
    - aggregations = @items.collect(&:aggregations).flatten.compact.group_by(&:type_string)
    #filter-content.filter-content.grey.rounded.dropdown-container
      %dl
        - aggregations.sort.each do |ag_type, ags|
          %dt
            = ag_type.capitalize
          %dd 
            %ul.filter-group
              %li.capsule.dropdown
                %a.expandable.dropdown-button{href: '#', title: ag_type}
                  %span= "All (#{ags.uniq.length})"
                %ul.filter-option.hide
                  - ags.group_by{|a| a}.sort.each do |app, repeats|
                    %li
                      = link_to "#{app.name} (#{repeats.length})", '#'              
        
#target.main-content
  = render :partial => 'notifications/notification'

:javascript 
  $(function() {
    var target = $('#template');
    target.hide();
    Notification.listAll("/calendar/day/#{params[:year]}/#{params[:month]}/#{params[:day]}/#{params[:what] || 'activities'}", target);
  });
