%section
  %article
    .box-content
      .page_header
        .altviews
          %span.calendar.icon 
            %a.show.calendar{:href => '/calendar'} Calendar
        %h1.page-title Tomorrow
  
  - if @items.first.methods.include? :aggregations
    .box
      .box-content
        %ul{style: 'padding:0;margin: 0;'}
        
          - @items.collect(&:aggregations).flatten.group_by{|a| a}.sort.each do |group, aggregations|
            - if group.name.present?
              %li{style: "display:inline;margin: 10px; padding:10px;font-size:#{10 + aggregations.size}px;"}
                = link_to "#{group.name}", aggregation_path(group.id)

        
#target.main-content{style: 'width: 100%'}
  = render :partial => 'notifications/notification'

:javascript 
  $(function() {
    var target = $('#template');
    target.hide();
    
    
    
    Notification.listAll('/calendar/tomorrow/#{params[:what] || 'activities'}', target);
  });