
<article class="clearfix">
  <h1 class="page-title" style="float:left;">
    <%= raw @aggregations.collect {|aggregation| -%>
      <%- link_to aggregation.name, aggregation -%>
    <%- }.to_a.to_sentence -%>
    <span class="meta">
      <%= @count %> activities
    </span>
  </h1>
</article>

<div class="clearfix">
  <ul class="visualization-list">
    <li><span style="font-weight: bold;">View:</span></li>
    <li>
      <%= link_to 'Stream', '#', class: 'load-default-visu' %>
    </li>
    <li style="display:inline;">
      <%= link_to 'Drill Down', bundle_aggregates_aggregation_path(params[:id]), class: 'load-inline-visu' %>
    </li>
    <%- if @visualizations#.any? -%>
      <%- @visualizations.each do |visu| -%>
        <li style="display:inline;">
          <%= link_to visu.name, visualization_path(visu.id, bundle_id: CGI.escape(params[:id])), class: 'load-inline-visu' %> 
        </li>
      <%- end -%>
    <%- end -%>
  </ul>

</div>

<div id="visu-container"></div>
  
<article id="default-visu" class="box">
  <div class="box-content">      
    <h3>Activities</h3>
    <%= render :partial => 'activities/activities' %>
    
    <%= will_paginate @activities %>
  </div>
</article>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('a.load-default-visu').addClass('highlight');
    
    $('a.load-inline-visu').click(function() {
      $('#default-visu').hide();
      resetHighlight();
      $(this).addClass('highlight');
      var $link = $(this);
      var url = $link.attr('href');
      $('#visu-container').load(url);
      
      return false;
    });
    
    $('a.load-default-visu').click(function() {
      $('#visu-container').html('');
      resetHighlight();
      $(this).addClass('highlight');
      $('#default-visu').show();
      return false;
    });
    
    function resetHighlight() {
      $('a.load-default-visu').removeClass('highlight');
      $('a.load-inline-visu').removeClass('highlight');
    }
  });
</script>

