<div>
  <h1>Search Results for
    <%= raw @aggregations.collect {|aggregation| -%>
      <%- link_to aggregation.name, aggregation, :class => "btn btn-large btn-default" -%>
    <%- }.to_a.to_sentence -%>
  </h1>
  <h4 class="meta">
  <%= @count %> result<%= @count>1 ? "s":"" %>
    <%#= @aggregation.type_string %>
  </h4>      
</div>

<%= render :partial => 'aggregations/visualization_list' %>

<div id="default-visu" class="box clearfix">    
  <div class="box-content"> 
    <div id="activities">
      <%= render :partial => 'activities/activities' %>
      <%= will_paginate @activities %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    clickedclass="disabled";
    $('a.load-default-visu').addClass(clickedclass);
    
    $('a.load-inline-visu').click(function() {
      $('#default-visu').hide();
      resetHighlight();
      $(this).addClass(clickedclass);
      var $link = $(this);
      var url = $link.attr('href');
      $('#visu-container').load(url);
      
      return false;
    });
    
    $('a.load-default-visu').click(function() {
      $('#visu-container').html('');
      resetHighlight();
      $(this).addClass(clickedclass);
      $('#default-visu').show();
      return false;
    });
    
    function resetHighlight() {
      $('a.load-default-visu').removeClass(clickedclass);
      $('a.load-inline-visu').removeClass(clickedclass);
    }
  });
</script>

