<div>
  <div style="width:100%;height:50px;">
    <h1 style="float:left;">Search Results for <span class="btn btn-large btn-default"><%=@aggregation.name %></span></h1>
    <p style="float:right;" title="Delete all the found activities">
      <%= link_to 'Delete', @aggregation, :method => :delete, :confirm => "Are you sure? All items in '#{@aggregation.name}' will be deleted. There is no undo possible!", :class=>"btn btn-danger" %>
    </p>
  </div>
  <h4 class="meta">
    <%= @aggregation.total %> result<%= @aggregation.total>1 ? "s":"" %>
    <%#= @aggregation.type_string %>
  </h4>      
  
</div>

<%= render :partial => 'aggregations/visualization_list' %>

<div id="default-visu" class="box clearfix">
  <span style="font-weight: bold;">Types:</span>
  <%= link_to "#{@count} activities", '#activities', :rel => '#activities' %>,
  <%= link_to "#{@notifications_count} notifications ", '#notifications', :rel => '#notifications' %>,
  <%= link_to "#{@predictions_count} predictions ", '#predictions', :rel => '#predictions' %>
      
  <div class="box-content"> 
    <div id="activities">
      <%= render :partial => 'activities/activities' %>
      <%= will_paginate @activities %>
    </div>
    <div id="notifications">
      <%= render :partial => 'notifications/notification' %>
    </div>
    <div id="predictions">
      <%= render :partial => 'predictions/prediction' %>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  $(function() {
    clickedclass="disabled";
    $('a.load-default-visu').addClass(clickedclass);
    
    var target = $('#template');
    target.hide();
    Notification.wrapper = $('#notifications');
    Notification.listAll('<%= notifications_aggregation_path(@aggregation) %>', target);
    
    var target = $('#prediction-template');
    target.hide();
    Prediction.wrapper = $('#predictions');
    Prediction.listAll('<%= predictions_aggregation_path(@aggregation) %>', target);
    
    $('#notifications').hide();
    $('#predictions').hide();
    $('ul.inner-tab-nav li a').click(function() {
      var $link = $(this);
      var $li = $link.parent().parent();
      $('ul.inner-tab-nav li').removeClass('current-tab');
      $li.addClass('current-tab');
      $('#activities').hide();
      $('#notifications').hide();
      $('#predictions').hide();
      $($link.attr('rel')).show();
      return false;
    });
    
    $('a.load-inline-visu').click(function() {
      $('#default-visu').hide();
      resetHighlight();
      $(this).addClass(clickedclass);
      var $link = $(this);
      var url = $link.attr('href');
      $('#visu-container').load(url);
      
      return false;
    });
    
    $('a.load-default-visu').click(function() {
      $('#visu-container').html('');
      resetHighlight();
      $(this).addClass(clickedclass);
      $('#default-visu').show();
      return false;
    });
    
    function resetHighlight() {
      $('a.load-default-visu').removeClass(clickedclass);
      $('a.load-inline-visu').removeClass(clickedclass);
    }
  });
</script>

