<div class="">
  <div class="">
    <div class="clearfix" style="padding: 5px; height: 35px; border-bottom: 1px solid #ddd; padding-bottom: 12px;">
      <h1 class="page-title" style="float:left;padding-top:4px;">Views</h1>
      <div style="width:110px; margin-right: 30px; float: right;">
        <p class="button save" style="height: 33px;"><%= link_to 'Add more', new_visualization_path %></p>
      </div>
    </div>
    
    <div class="box-content">
      <ul style="margin: 12px 0;">
        <%- if @visualizations.any? -%>
          <%- @visualizations.each do |visu| -%>
            <li class="clearfix" style="margin: 12px 0; padding: 10px 0; border-bottom: 1px solid #ddd">
              <div style="float:left;width: 400px;" class="clearfix">
                <%= image_tag visu.screenshot, :width => 340, :style => 'margin: 0 60px 0 10px;' %>
              </div>
              <div style="float:left;width: 400px;" class="clearfix">
                <h4 class="special-title">
                  <%= link_to visu.name, visualization_path(visu.id) %> 
                  <span class="meta">
                    by <%= link_to visu.developer_name, visu.developer_url %>
                  </span>
                </h4>
                <p><%= visu.description %></p>
                <p style="clearfix">
                  <span style="text-transform: uppercase;padding-right: 10px; font-size: 9px;">
                    Display
                  </span>
                  <%- if visu.in_menu? -%>
                    <span class="menu-icon">Menu</span>
                  <%- end -%>
                  <%- if visu.in_library? -%>
                    <span class="library-icon">Library</span>
                  <%- end -%>
                  <br>
                  <span style="text-transform: uppercase;padding-right: 10px; font-size: 9px;">
                    Objects
                  </span>
                  <%- visu.target_objects.split(',').each do |obj| -%>
                    <span class="visu-obj-target"><%= obj %></span>
                  <%- end if visu.target_objects -%>                  
                </p>

                <%- unless visu.installed_by_user?(current_user.id) -%>
                  <p class="button save" style="width: 100px; float:left; height: 33px;">
                    <%= link_to 'Install', install_visualization_path(visu.id), method: 'post'%>
                  </p>
                <%- else -%>
                  <p style="float:left;"><%= link_to 'Manage', edit_visualization_path(visu) %></p>
                <%- end -%>
              </div>
            </li>
          <%- end -%>
        <%- else -%>
          <li>Create your own HTML 5 visualizations of your data!</li>
        <%- end -%>
      </ul>
    </div>
  </div>
</div>

