<div class="main-content">
  <div class="box">
    <div class="box-content">
      <h1 class="page-title">Visualizations</h1>

      <ul style="margin: 20px 0;">
        <%- if @visualizations.any? -%>
          <%- @visualizations.each do |visu| -%>
            <li class="clearfix" style="margin: 10px 0;">
              <%= image_tag visu.screenshot, :width => 128, :height => 64, :align => 'left', :style => 'margin-right: 10px;' %>
              <p style="font-weight: bold;">
                <%= link_to visu.name, visualization_path(visu.id) %> 
                (<%= visu.is_public? ? "Public" : "Private" %> | <%= link_to 'Manage', edit_visualization_path(visu) %>)
              </p>
              <p>by <%= link_to visu.developer_name, visu.developer_url %></p>
            </li>
          <%- end -%>
        <%- else -%>
          <li>Create your own HTML 5 visualizations of your data!</li>
        <%- end -%>
      </ul>
    </div>
  </div>
</div>

<aside class="sec-content">
  <%= link_to 'Create a visualization', new_visualization_path %>
</aside>

