<h2>Sign in</h2>
<div id="sign_in_wrapper">  
  <div id="signin_wrapper">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <p><%= f.label :email %><br />
      <%= f.text_field :email %></p>

      <p><%= f.label :password %><br />
      <%= f.password_field :password %></p>

      <% if devise_mapping.rememberable? -%>
        <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
      <% end -%>

      <p class="button save clearfix" style="float:left;"><%= f.submit "Sign in" %> </p>
    <% end %>
    
    <div class="clearfix"></div>
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
