<div class="span5" style="margin:0 auto;float:none"> 
  <h2>Sign in</h2>
    
<%= simple_form_for(resource, :url => session_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
<fieldset>
  <legend></legend>
  <%= f.input :email %>
  <%= f.input :password %>
  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, :as => :boolean %>
  <% end %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary btn-large', :value => "Sign in" %>
    <%= #submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger"
    %>
  </div>
</fieldset>
<% end %>

    <%= render :partial => "devise/shared/links" %>    
</div>