<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<section class="">
  <article class="box">
    <div class="box-content">      
      <h1 class="page-title">Analytics</h1>
      <hr>
        <div class="filters">
          <h4>Search properties</h4>
          <em>Unselect the dates and properties by clicking them.</em>
          <p>&nbsp;</p>
          <p>
            <div class="date-group">
             <input type="text" title="Start Date" class="label label-warning datepicker mb-date" value="<%= @start_date.strftime("%Y/%m/%d") %>"/>
            to
             <input type="text" title="End Date" class="label label-warning datepicker mb-date" value="<%= @finish_date.strftime("%Y/%m/%d") %>"/>
            </div>
            
            <%- if params[:filter] -%>
            <%- params[:filter].each do |filtro, valor| -%>            
                <%- if not ['tags','start_date', 'end_date'].include? filtro.to_s -%>
                  <a href="<%= analytics_path(params_trick(filtro, valor, params))%>" class="filter-label label label-info <%= active_param?(filtro, valor, params) %>">
                    <%- unless filtro.to_s == 'actors' or filtro.to_s == "target_values" -%>
                      <%= name_only(valor) %>
                    <%- else -%>
                      <%= valor.to_s %>
                    <%- end -%>
                  </a>
                <%- elsif filtro.to_s == "tags" -%>
                  <%- valor.split(',').each do |tag| -%>
                    <a href="<%= analytics_path(params_trick(filtro, valor, params))%>" class="filter-label label label-info <%= active_param?(filtro, valor,params) %>">
                      <%= tag.to_s %>
                    </a>
                  <%- end -%>              
                <%- end -%>                
            <%- end -%>
          <%- end -%>
          <div><span class="btn filter-add">Add +</span></div>
          </p>
          <br/>
          <a href="/analytics" class="">Clear all filters</a>
          <p>&nbsp;</p>
        </div>
      
    
      
      <p><strong style="font-size:2em"><%= @activities.length %></strong> activities matches search </p>


      <% unless @activities.empty? %>        
        
        <% current_period =  "Found activities from #{l @activities.sort_by(&:posted_time).first.posted_time.to_date, :format => :long} until #{l @activities.sort_by(&:posted_time).last.posted_time.to_date, :format => :long}" %>
      
        <!-- The monthly activities chart   -->
        <div id="chart_div" style="height:344px;width:780px"></div>
        
        <%= render :partial => 'property_explorer' %>
              
      <% else %>
        <p>No activities for this period</p>
      <% end %>
    </div>
  </article>
</section>



<%- unless @activities.empty? -%>
  <script type="text/javascript">
    google.load('visualization', '1', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'Activities');
      <%- benchmark 'Generating Chart' do %>
        data.addRows(<%= monthly_activity_chart(@activities)  %>);
      <%- end -%>

      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, {width: 750, height: 340, title: '<%= current_period  %>',
        hAxis: {title: 'Date'}, legend: 'none'
      });
      google.visualization.events.addListener(chart, 'select', selectHandler);
      
      function selectHandler(e) {
        var selection = chart.getSelection();
        var date = '';
        for (var i = 0; i < selection.length; i++) {
          var item = selection[i];
          if (item.row != null && item.column != null) {
             date = data.getFormattedValue(item.row, 0);
          }
        }
        var year = date.split('-')[0];
        var month = date.split('-')[1];
        var day = date.split('-')[2];
        window.location = '/calendar/day/' + year + '/'+month+'/'+day + window.location.search;
      }
      
    }
    
  </script>
<%- end -%>