-@activities.group_by {|activity| activity.posted_time.to_date}.each_pair do |key, activities|
  %br
  %h2
    = l key, format: :long
  -activities.each do |activity|
    %hr{style: "margin:10px 0;"}
    = image_tag activity.service_provider_icon, align: 'left', style: 'margin-right: 10px; width: 32px'
    .manybots-item
      = activity.title.html_safe
      %br
      %span.small.quiet{title: activity.posted_time}
        = link_to "#{time_ago_in_words(activity.posted_time)} ago", activity, title: activity.posted_time
  
  %hr{:style=>"margin:10px 0;"}