
  <ul class="app-nav">
    <li class="tcenter">
      <a href="/visualizations">
        <img src="<%= gravatar_url_for(current_user.email)%>" alt="avatar" title="<%= current_user.name %>" width="80" height="80"/>
        <div><%= current_user.name %></div>
      </a>
    </li>
    <hr class="minimal-hr" style="padding:2px;margin:2px;width:50px;">
    <li><a href="/analytics" class="<%= current_tab?(:filters)%>">Analytics</a></li>
    <li class="last"><a href="/visualizations" class="<%= current_tab?(:visualizations)%>">Visualizations</a></li>
    <li class="last"><a href="/apps" class="<%= current_tab?([:apps, :oauth_clients])%>">Applications</a></li>
  </ul>