<div id="app-menu" class="clearfix" style="width: 150px; float:left; display:block; margin-right: 10px;">
  
  <ul class="app-nav">
    <li class="with-icon"><%= link_to 'Agenda', main_app.agenda_path, :class => "#{current_tab?(:calendar)} menu-agenda-icon" %></li>
    <li class="with-icon"><%= link_to 'People', main_app.people_path, :class => "#{current_tab?(:people)} menu-people-icon" %></li>
    <li class="with-icon"><%= link_to 'Library', main_app.aggregations_path, :class => "#{current_tab?(:aggregations)} menu-library-icon" %></li>  
  </ul>

  <h2 style="line-height: 12px;text-transform:uppercase; margin: 10px 0 0 0; font-size: .8em">Views</h2>
  <hr>
  <ul class="app-nav">
    <li><a href="/analytics" class="<%= current_tab?(:filters)%>">Analytics</a></li>
    <%- current_user.installed_applications.in_menu.collect(&:client_application).each do |visualization| -%>
      <li><%= link_to visualization.name, "/visualizations/#{visualization.id}", class: current_tab?(:visualizations, visualization.id) %></li>
    <%- end -%>    
  </ul>
  
  <p class="app-menu-small-link">
    <a href="/visualizations" class="app-menu-small-link <%= current_tab?(:controller => 'visualizations', :action => 'index')%>">More...</a>
  </p>
  

  <h2 style="line-height: 12px;text-transform:uppercase; margin: 10px 0 0 0; padding:0; font-size: .8em;">Bots</h2>
  <hr>  
  <ul class="clearfix" style="padding:0;margin:0;padding-left:5px;">
    <%- ClientApplication.where(is_public: true).each do |app| -%>
      <li style="display:inline; margin: 0;" >
        <a href="<%=app.url%>" title="<%= app.name %>" class="">
        <%= image_tag app.app_icon_url, :class => 'app_icon small', :width => 32, :height => 32 -%></a>
      </li>
    <%- end  -%>
  </ul>
  <p class="app-menu-small-link">
    <a href="/apps" class="<%= current_tab?(:apps)%>">More...</a>
  </p>
  
  
</div>