<!DOCTYPE html>
<html>
<head>
  <title>
    <%= @page_title ? "#{@page_title} - " : ''  %>
    <%= ManybotsServer.server_name %>
  </title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  
  <%- if current_user -%>
    <%= stylesheet_link_tag "application", :media => "all" %>
  <%- else -%>
    <%= stylesheet_link_tag "application-marketing", :media => "all" %>
  <%- end -%>
  
  <%- if current_user -%>
    <%= javascript_include_tag 'application' %>
  <%- else -%>
    <%= javascript_include_tag 'application-marketing' %>
  <%- end -%>
  
  <%= csrf_meta_tag %>
</head>
<body>
  <%- if current_user -%>
  <!-- HEADER - LOGGED IN -->
  <%= render :partial => 'layouts/light_header' %>

  <!-- BODY - LOGGED IN -->
  <div id="page">
      <%= render :partial => 'layouts/app_menu' %>
      <div id="body" style="width: 800px; float:left; display:block;">
        <%= yield %>
      </div>
    
    <div class="clear"></div>
    <div id="footer">
      <ul class="tabs">
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="https://www.manybots.com" title="Manybots.com">Manybots.com</a></li>
        <li><a href="http://blog.manybots.com" title="Blog">Manybots Blog</a></li>
        <li><a href="http://twitter.com/manybots" title="Manybots on Twitter">Manybots on Twitter</a></li>
        <li><a href="http://facebook.com/manybots" title="Manybots on Facebook">Manybots on Facebook</a></li>
      </ul>
      <p class="quiet">(c) Copyright 2010-2012 Manybots IT, Lda.</p>
    </div>
  </div>
  <%- else -%>
  <!-- HEADER - LOGGED OUT -->
    <%= render :partial => 'layouts/marketing_header' %>
  
  <!-- BODY - LOGGED OUT -->
  <div class="container-fluid sticky-wrapper">
      <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= msg %>
    </div>
    <% end %>
    
    <div class="row">
      <div class="division">
        <%= yield %>
      </div>
    </div>
    <div class="sticky-push"></div>
  </div><!-- /container -->
  <div class="sticky-footer">
    <hr style="margin:0;padding-top:8px" />
    <div class="row">      
      <ul class="center">
        <li class="footer-item"><a class="quiet" href="/" title="Home">Home</a></li>
        <li class="footer-item"><a class="quiet" href="/tos" title="Terms of Service">Terms of Service</a></li>
        <li class="footer-item"><a class="quiet" href="/privacy" title="Privacy Policy">Privacy</a></li>
        <li class="footer-item"><a class="quiet" href="/contact" title="Contact">Contact</a></li>
        <li class="footer-item"><a class="quiet" href="http://blog.manybots.com" title="Blog">Blog</a></li>
      </ul>        
    </div>
    <div class="row">
      <div class="quiet center">Copyright &copy; 2010-2012 Manybots IT, Lda.</div>
    </div>
  </div><!-- /footer -->
  <%- end -%>
</body>
</html>
